body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    height: 800px;
    margin: auto;
    border: 1px solid white;
    background-color: #181818;
}

/* CSS of the song list at the left */

.container_song_list{
    width: 255px;
    height: 700px;
    border: 1px solid blue;
}

.song_list{
    list-style: none;
}

.song{
    position: relative;
    right: 7px;
    margin-top: 50px;
}

.song_name{
    position: relative;
    bottom: 35px;
}

.artist{
    position: relative;
    bottom: 35px;
    left: 65px;
    font-size: 0.85em;
    color: #C1C1C1;
}

.album_photo{
    position: relative;
    right: 10px;
    width: 60px;
}

/* CSS of the bottom of the page */

.bottom{
    width: 1000px;
    height: 100px;
    border: 1px solid red;
}

.current_song{
    display: inline-block;
    margin-top: 15px;
    margin-left: 35px;
}

.controls{
    display: inline-block;
    position: relative;
    left: 25%;
    bottom: 10%;
}

.control_icons{
    width: 25px;
    margin-left: 10px;
}