body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

hr{
    border: 1px solid #4D4D4D;
}

.container{
    width: 1000px;
    height: 800px;
    margin: auto;
    /* border: 1px solid white; */
    background-color: #181818;
}

/* CSS of the image of the current song */

#current_song_image{
    position: relative;
    width: 743px;
    height: 700px;
    /* left: 255px; */
    /* display: inline-block; */
    float: right;
    border-left: 2px solid #4D4D4D;
}

/* CSS of the song list at the left */

.container_song_list{
    width: 255px;
    height: 700px;
    /* border: 1px solid blue; */
    /* display: inline-block; */
    float: left;
}

.hr_song_list{
    margin: 0;
    width: 255px;
}

.song_list{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.song{
    /* position: relative;
    right: 7px;
    margin-top: 50px; */
    padding-top: 15px;
    padding-left: 30px;
    /* border-bottom: 1px solid white; */
}

.song:hover{
    background-color: #4D4D4D;
}

.song_name{
    position: relative;
    bottom: 35px;
}

.artist{
    position: relative;
    bottom: 35px;
    left: 65px;
    font-size: 0.85em;
    color: #C1C1C1;
}

.album_photo{
    position: relative;
    right: 10px;
    width: 60px;
}

/* CSS of the bottom of the page */

.bottom{
    width: 1000px;
    height: 100px;
    /* border: 1px solid red; */
    display: inline-block;
}

.current_song{
    width: 255px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
    /* border-top: 1px solid white;
    padding-bottom: 55px;
    padding-left: 55px; */
}

.volume_control{
    position: relative;
    bottom: 10%;
    width: 173px;
    display: inline-block;
}


/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].volume_slider {
    -webkit-appearance: none;
    position: relative;
    bottom: 10px;
    background-color: #181818;
    width: 80px;
}

/*progress support*/
input[type=range].volume_slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
}

input[type=range].volume_slider:focus {
  outline: none;
}

/*webkit*/
input[type=range].volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  border: none;
  box-shadow: 0 0 2px #000000;
  margin-top: calc(4px * 0.5 - 10px * 0.5);
}

input[type=range].volume_slider::-webkit-slider-runnable-track {
  height: 4px;
  border: none;
  border-radius: 100px;
  background: #535353;
  box-shadow: none;
}

input[type=range].volume_slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#c1c1c1,#c1c1c1) 0/var(--sx) 100% no-repeat, #535353;
}

input[type=range].volume_slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#1db954,#1db954) 0/var(--sx) 100% no-repeat, #535353;
}

/*mozilla*/
input[type=range].volume_slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  border: none;
  box-shadow: 0 0 2px #000000;
}

input[type=range].volume_slider::-moz-range-track {
  height: 4px;
  border: none;
  border-radius: 100px;
  background: #535353;
  box-shadow: none;
}

input[type=range].volume_slider.slider-progress::-moz-range-track {
  background: linear-gradient(#c1c1c1,#c1c1c1) 0/var(--sx) 100% no-repeat, #535353;
}

input[type=range].volume_slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#1db954,#1db954) 0/var(--sx) 100% no-repeat, #535353;
}

/*ms*/
input[type=range].volume_slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].volume_slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].volume_slider::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  border: none;
  box-shadow: 0 0 2px #000000;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].volume_slider::-ms-track {
  height: 4px;
  border-radius: 100px;
  background: #535353;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].volume_slider.slider-progress::-ms-fill-lower {
  height: 4px;
  border-radius: 100px 0 0 100px;
  margin: -undefined 0 -undefined -undefined;
  background: #c1c1c1;
  border: none;
  border-right-width: 0;
}

input[type=range].volume_slider.slider-progress:hover::-ms-fill-lower {
  background: #1db954;
}



.song_time_container{
    position: relative;
    bottom: 50%;
    /* left: 30px; */
    display: inline-block;
}


/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].song_time_slider {
    -webkit-appearance: none;
    background-color: #181818;
    width: 300px;
  }
  
  /*progress support*/
  input[type=range].song_time_slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
  }
  
  input[type=range].song_time_slider:focus {
    outline: none;
  }
  
  /*webkit*/
  input[type=range].song_time_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    border: none;
    box-shadow: 0 0 2px #000000;
    margin-top: calc(4px * 0.5 - 10px * 0.5);
  }
  
  input[type=range].song_time_slider::-webkit-slider-runnable-track {
    height: 4px;
    border: none;
    border-radius: 100px;
    background: #535353;
    box-shadow: none;
  }
  input[type=range].song_time_slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#c1c1c1,#c1c1c1) 0/var(--sx) 100% no-repeat, #535353;
  }
  
  input[type=range].song_time_slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#1db954,#1db954) 0/var(--sx) 100% no-repeat, #535353;
  }
  
  /*mozilla*/
  input[type=range].song_time_slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    border: none;
    box-shadow: 0 0 2px #000000;
  }
  
  input[type=range].song_time_slider::-moz-range-track {
    height: 4px;
    border: none;
    border-radius: 100px;
    background: #535353;
    box-shadow: none;
  }
  
  input[type=range].song_time_slider.slider-progress::-moz-range-track {
    background: linear-gradient(#c1c1c1,#c1c1c1) 0/var(--sx) 100% no-repeat, #535353;
  }
  
  input[type=range].song_time_slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#1db954,#1db954) 0/var(--sx) 100% no-repeat, #535353;
  }
  
  /*ms*/
  input[type=range].song_time_slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].song_time_slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].song_time_slider::-ms-thumb {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    border: none;
    box-shadow: 0 0 2px #000000;
    margin-top: 0;
    box-sizing: border-box;
  }
  
  input[type=range].song_time_slider::-ms-track {
    height: 4px;
    border-radius: 100px;
    background: #535353;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }
  
  input[type=range].song_time_slider.slider-progress::-ms-fill-lower {
    height: 4px;
    border-radius: 100px 0 0 100px;
    margin: -undefined 0 -undefined -undefined;
    background: #c1c1c1;
    border: none;
    border-right-width: 0;
  }
  
  input[type=range].song_time_slider.slider-progress:hover::-ms-fill-lower {
    background: #1db954;
  }
  
  

.controls{
    display: inline-block;
    position: relative;
    right: 25%;
    bottom: 10%;
}

.control_icons{
    width: 25px;
    margin-left: 10px;
}